.speciality {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.speciality-list__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text-color);
  // max-width: 270px;
  margin-bottom: 10px;

  @include tablet {
    text-align: start;
  }
}

.speciality-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  // @include tablet {
  //   margin-bottom: 0;
  // }

  // @include desktop {
  //   margin-bottom: 0;
  // }
}

.speciality-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.speciality-list__items {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include tablet {
    width: calc((100% - 30px) / 2);
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }

  @include desktop {
    width: calc((100% - 120px) / 4);
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.speciality-list__image {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 100%;
}
