.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */

  
  @include mobile {
    max-width: 479px;
  }

  @include tablet {
    max-width: 767px;
  }

  @include desktop {
    max-width: 1199px;
  }
}
